html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

main {
    padding-top: 20px;
    padding-bottom: 60px;
}

code {
    font-size: 80%;
}

.sample {
    padding: 10px;
    font-size: 13px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
